@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add any custom styles here */
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.shadow-neon {
  box-shadow: 0 0 5px theme('colors.purple.400'), 0 0 20px theme('colors.purple.600');
}

.shadow-neon-intense {
  box-shadow: 0 0 10px theme('colors.purple.400'), 0 0 30px theme('colors.purple.600'), 0 0 50px theme('colors.purple.800');
}
